doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/skeleton.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body
    div.container
      if (user)
        a.header-icon.u-pull-right(href="/new", title="New Post")
          i.fa.fa-2x.fa-edit
      else
        a.header-icon.u-pull-right(href="/login", title="Login")
          i.fa.fa-2x.fa-lock
      a.header-icon.u-pull-right(href="https://facebook.com/ldcvia", title="LDC Via's Facebook Page")
        i.fa.fa-2x.fa-facebook
      a.header-icon.u-pull-right(href="https://twitter.com/ldcvia", title="LDC Via's Twitter")
        i.fa.fa-2x.fa-twitter
      a.header-icon.u-pull-right(href="/", title="Home")
        i.fa.fa-2x.fa-home
      div.row
        div.one-half.column
          h3
            a(href="/") #{title}
          h4= subtitle
      block content

    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="/javascripts/blog.js")
